<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="On" defaultRedirect="/error/index.html">
      <error statusCode="404" redirect="/error/index.html"/>
      <error statusCode="500" redirect="/error/index.html"/>
    </customErrors>
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Custom" defaultPath="/error/index.html">
      <clear/>
    </httpErrors>
  </system.webServer>
</configuration>