<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />
            <error statusCode="500" prefixLanguageFilePath="" path="/error/index.html" responseMode="ExecuteURL" />
            <error statusCode="404" prefixLanguageFilePath="" path="/error/index.html" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
    <system.web>
        <customErrors defaultRedirect="/error/index.htnl" mode="On">
            <error redirect="/error/index.html" statusCode="404" />
        </customErrors>
    </system.web>
</configuration>
